:root {
  --color1: 51, 71, 72;
}
.navbar {
  width: auto;
  min-height: 33px;
  height: auto;
  padding: 20px 22px;
  box-shadow: 0 0 6px rgb(184, 182, 182);
  background-color: white !important;
}
.navbar-brand {
  padding-right: 30px;
  color: inherit;
  font-size: 22px;
  line-height: normal;
  font-weight: bold;
  letter-spacing: normal;
  color: rgb(var(--color1)) !important;
}
.navbar-brand span {
  font-size: 24px;
  color: rgb(var(--color1)) !important;
  color: inherit;
  font-weight: lighter;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Damion", cursive;
}
.navbar-nav .nav-item .nav-link {
  color: rgb(95, 106, 107);
  font-size: 16px !important;
  line-height: normal;
  letter-spacing: normal;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(163, 129, 67) !important;
}
.active {
  color: rgb(163, 129, 67) !important;
}
.shopcart {
  color: rgb(95, 106, 107);
  font-size: 16px;
  display: flex;
}
.shopcart span:nth-child(1) {
  margin-right: 10px;
  cursor: pointer;
}
.shopcart span:nth-child(2) {
  cursor: pointer;
}
.fa-user-circle {
  font-size: 25px;
  background-color: white;
  color: rgb(114, 98, 90);
}
.fas {
  padding: 0 10px;
}
.curtain.active {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000;
}
.minicart {
  position: fixed;
  width: 365px;
  height: 100%;
  background-color: white;
  right: 0;
  top: 87;
  z-index: 99;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(365px, 0px);
  transition: 0.6s;
}
.minicart.active {
  transform: translate(0px, 0px);
  transition: 0.6s;
}
.minicart .head-cart .fa-chevron-right.active {
  color: white;
  cursor: pointer;
  transform: rotate(180deg);
  transition: 1s;
}
.minicart .head-cart {
  background: rgba(var(--color1));
  display: flex;
  align-items: center;
  width: 100%;
  height: 23%;
  padding: 20px 0;
}
.minicart .head-cart h3 {
  font-size: 25px;
  font-weight: 700 !important;
  margin-bottom: 0;
  line-height: inherit;
  color: white;
}
.minicart .head-cart .fa-chevron-right {
  color: white;
  cursor: pointer;
  padding-left: 9%;
  margin-right: 24%;
  transition: 1s;
}
.minicart .bottom-cart p {
  padding-top: 30%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.navbar-light .navbar-toggler {
  border: none;
}


@media (max-width: 575px) {
  .minicart {
    width: 265px;
    top: 67px;
  }
  .navbar-brand {
    padding-right: 0px;
    margin-right: 0;
  }
  .navbar {
    padding: 10px 0px;
  }
}
