:root {
  --color1: 51, 71, 72;
}
.shop_head {
  margin-top: 150px;
  margin-bottom: 75px;
}
.shop_head h4 {
  line-height: 1.2em;
  font-size: 64px;
  letter-spacing: normal;
  font-weight: normal;
  color: rgba(var(--color1));
  font: poppins-extralight, poppins, sans-serif;
}
.shop_head p {
  line-height: 1.4em;
  font-size: 18px;
  padding-right: 20px;
  color: rgba(var(--color1));
}
.shop_bottom h5 {
  line-height: 1.2em;
  font-size: 24px;
  letter-spacing: normal;
  font-weight: normal;
  color: rgba(var(--color1));
  font: poppins-extralight, poppins, sans-serif;
  padding-right: 30px;
}
.shop_bottom .price {
  line-height: 1.2em;
  font-size: 18px;
  letter-spacing: normal;
  font-weight: normal;
  color: rgba(76, 65, 60);
  font: poppins-extralight, poppins, sans-serif;
}
.shop_bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 0 63px;
}
.shop_bottom .col-lg-3 {
  padding: 0 20px 0 20px;
  margin-bottom: 50px;
}
.shop_bottom .img img {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.shop_bottom .img {
  position: relative;
}
.shop_bottom .img span {
  font-size: 16px;
  letter-spacing: normal;
  position: absolute;
  color: white;
  padding: 5px 10px;
  background-color: #72625a;
  top: 0;
  left: 0;
}
