@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

.minicart {
  top: 87px;
}

/* -------------Media------------- */

@media (max-width: 1199px) {
  .subscriptions_head {
    padding: 0 70px;
  }
}

@media (max-width: 991) {
  .main-video {
    height: 520px;
  }

  .beens {
    position: relative;
    width: 100%;
    height: 340px;
    overflow: hidden;
  }
  .our-subscriptions .our {
    width: 640px;
    left: 80px;
  }
}
